In [ ]:
print("Hello")

In [ ]:
print('Hello')

In [ ]:
name="Arun"
age=20
cgpa=7.92
print(age)

In [ ]:
print(type(name),type(age),type(cgpa))

In [ ]:
comp_A=3+2j
comp_B=4+6j
total=comp_A+comp_B
total

In [ ]:
type(total)

In [ ]:
name=input("Enter the name:")
name

In [ ]:
age=int(input("Enter the age:"))
age

In [ ]:
5//2

In [ ]:
5/2

In [ ]:
3**5

In [ ]:
a=2
a=a<<2
a

In [ ]:
a>>2

In [ ]:
c=float(input("Enter the temperature in Celsius:"))
f=(c*9/5)+32
print("Feherinheit value:",f)

## Conditional Statements

In [ ]:
age=int(input("Enter the age:"))
if age>=18:
    print("Eligible to vote")
else:
    print("Not Eligible to vote")

In [ ]:
#Shorthand
age=int(input("Enter the age"))
print("Eligible to vote") if age>=18 else print("Not Eligible to vote")

In [ ]:
if type(age) is int:
    print("Integer")
else:
    print("Not Integer")

In [ ]:
ch=input("Enter a character")
if ord(ch)>=65 and ord(ch)<=122:
    print("Alphabet")
elif ord(ch)>=48 and ord(ch)<=57:
    print("Digit")
else:
    print("Invalid")

In [ ]:
#if..elif
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
    print("A is greater")
elif b>a and b>c:
    print("B is greater")
else:
    print("C is greater")

In [ ]:
#Nested if
aggregate=int(input("Enter the aggregate:"))
if aggregate>=60:
    print("Eligible for attending the interview")
    interview_mark=int(input("Enter the interview mark:"))
    if interview_mark>=70:
        print("Selected")
    else:
        print("Rejected")
else:
    print("Not eligible to attend the interview")

## Loops

In [ ]:
#Calculate total bill amount based on the purchase
total=0
cont='y'
while cont=='y':
    amount=int(input("Enter the amount:"))
    total+=amount
    cont=input("Press 'y' to add another purchase or any key to bill:")
print(total)

In [ ]:
for x in range(11):
    print(x)

In [ ]:
for x in range(2,11,2):
    print(x)

In [ ]:
name="vasanth kumar"
vowels="aeiou"
count=0
for x in name:
    if x in vowels:
        count+=1
print("Number of vowels:",count)

In [ ]:
for x in range(5):
    for y in range(x+1):
        print('*',end="")
    print()

In [ ]:
paragraph="""This is a sample paragraph
Line-1 
Line-2
Line-3"""
print(paragraph)

In [ ]:
name[0]

In [ ]:
name[-1]

In [ ]:
name[-2]

In [ ]:
name[-4]

In [ ]:
name[2:5]

In [ ]:
len(name)

In [ ]:
name=" ArunAA "
name=name.strip()

In [ ]:
name.replace('A','a')

In [ ]:
name=input("Enter the name:")
string_x="Hello, {} Welcome to Python Class"
string_x.format(name)

In [ ]:
string_x.find('o')

In [ ]:
ch=input("Enter a character:")
if ord(ch)>=65 and ord(ch)<=122:
    print("Alphabet")
elif ord(ch)>=48 and  ord(ch)<=57:
    print("Digit")
else:
    print("Invalid")

## Functions

In [ ]:
def add(x,y):
    return x+y

In [ ]:
add(23,45)

In [ ]:
add(56,76)

In [ ]:
def swap(a,b):
    a=a+b
    b=a-b
    a=a-b
    return a,b

In [ ]:
swap(34,56)

In [ ]:
def calc(a,b):
    tot=a+b
    sub=a-b
    mul=a*b
    div=a/b
    return tot,sub,mul,div

In [ ]:
calc(34,23)

In [ ]:
def total(*arg):
    tot=0
    for x in arg:
        tot+=x
    return tot

In [ ]:
total(10,22,44)

In [ ]:
total()

In [ ]:
total(45,66,77,777,8,88,88,8,8,8,8,8,8,8,45)

In [ ]:
print("hello","gdafafa",34414)

In [ ]:
price=int(input("Enter the price:"))
discount=lambda x:x*10/100
print("Discount:",discount(price))

In [ ]:
discount(6000)

In [ ]:
name1="Arun"
name2="dadsad"
name1+name2

In [ ]:
name1.replace('u','',1)

In [ ]:
for x in range(10,0,-2):
    print(x)

In [ ]:
name1=input("Enter name1:").lower()
name2=input("Enter name2:").lower()
for x in name1:
    for y in name2:
        if x==y:
            name1=name1.replace(x,'',1)
            name2=name2.replace(y,'',1)
            break
print(name1+name2)

In [ ]:
def Empdetails(**kwargs):
    print(kwargs)

In [ ]:
Empdetails(empid=101,empname="Arun",salary=45000)

In [ ]:
a=int(input())
b=int(input())
c=int(input())
number=((a*10)+b)*10+c
number

In [ ]:
digit=0
num=0
while True:
    digit=int(input())
    if digit<0:
        break
    num=num*10+digit
print(num)

In [ ]:
4*10+5

In [ ]:
45*10+6

## Python Data Structures

In [ ]:
#List
mark_list=[45,66,77,55,34,87,92,23]
mark_list

In [ ]:
for x in mark_list:
    print(x)

In [ ]:
mark_list[0]

In [ ]:
mark_list[-1]

In [ ]:
mark_list[:3]

In [ ]:
for x in mark_list:
    if x>=50:
        print("Pass")
    else:
        print("Fail")

## List Compherension

In [ ]:
result=["Pass" if x>=50 else "Fail" for x in mark_list]
result

In [ ]:
pass_mark=[x for x in mark_list if x>=50]
pass_mark

In [ ]:
fail_mark=[x for x in mark_list if x<50]
fail_mark

In [ ]:
num=int(input("Enter the number:"))
flag=True
for x in range(2,num,1):
    if num%x==0:
        flag=False
        break
print("Prime") if flag else print("Not Prime")

In [ ]:
num=int(input("Enter the number"))
result=[1 if num%x==0 else 0 for x in range(2,num,1)]
print("Not Prime") if result.count(1)>0 else print("Prime")

In [ ]:
result

## Lambda Expression - map(), filter()

In [ ]:
result=list(map(lambda x: "Pass" if x>=50 else "Fail",mark_list))
result

In [ ]:
shortlist=list(filter(lambda x:x if x>=50 else None,mark_list))
shortlist

In [ ]:
x_list=[0,4,5,3,1,-3,-11,-1,-5]
x_list

In [ ]:
positive=list(filter(lambda x:x if x>=0 else None,x_list))
positive

In [ ]:
negative=list(filter(lambda x:x if x<0 else None,x_list))
negative

In [ ]:
[x for x in x_list if x>=0]

In [ ]:
[x for x in x_list if x<0]

In [ ]:
positive.sort()
positive

In [ ]:
negative.sort(reverse=True)
negative

In [ ]:
y_list=[1,2,3,4,5,6]
y_list

In [ ]:
def rotate(y,k):
     return y[k:]+y[:k]

In [ ]:
rotate(y_list,2)

In [ ]:
mark_list=[]
cont='y'
while cont=='y':
    mark_list.append(int(input("Enter the mark:")))
    cont=input("Press y to add another mark:")
mark_list

In [ ]:
#create, Insert in a position, Delete,update, Traverse/Display

In [ ]:
mark_list=[50,50,34,55,66,23,50,100,100]

In [ ]:
mark_list.count(100)

In [ ]:
mark_list.index(34)

In [ ]:
mark_list.pop(1)

In [ ]:
mark_list

In [ ]:
mark_list.remove(100)

In [ ]:
mark_list.pop(5)

In [ ]:
mark_list

In [ ]:
mark_list.sort()
mark_list

In [ ]:
mark_list.sort(reverse=True)
mark_list

In [ ]:
mark_list.reverse()

In [ ]:
mark_list

In [ ]:
a=[45,31,34,56,77,23]
a.reverse()
a

## Tuples

In [ ]:
final_marks=tuple(mark_list)
final_marks

In [ ]:
panno=('344xds','344xf','455sade')
panno

In [ ]:
final_marks[2]=56

## Set

In [ ]:
set_A={12,3,45,44,3,12}
set_B={34,44,55,22,12}
set_A

In [ ]:
set_A.union(set_B)

In [ ]:
set_A.intersection(set_B)

In [ ]:
set_A.difference(set_B)

In [ ]:
set_B.difference(set_A)

In [ ]:
set_A.add(1)
set_A

In [ ]:
for x in set_A:
    print(x)

In [ ]:
{x for x in set_A if x>40}

In [ ]:
name_list=[]
cont='y'
while cont=='y':
    name_list.append(input("Enter the name:"))
    cont=input("Press y to add another name:")
name_list

In [ ]:
name_list.sort()
name_list

In [ ]:
vowels='aeiou'
count=[]
for x in name_list:
    ch_count=0
    for ch in x:
        if ch in vowels:
            ch_count+=1
    count.append(ch_count)
count

In [ ]:
vowels

In [ ]:
count=0
vowels_list=[ch for x in name_list for ch in x if ch in vowels]

In [ ]:
len(vowels_list)

In [ ]:
(x for x in range(10))

## Dictionary

In [ ]:
emp_det={'Empid':101,'Empname':'Arun','Salary':45000}
emp_det

In [ ]:
emp_det.keys()

In [ ]:
emp_det.values()

In [ ]:
emp_det.items()

In [ ]:
for k,v in emp_det.items():
    print(k,":",v)

In [ ]:
emp=[]
cont='y'
while cont=='y':
    emp_det=dict()
    emp_det['Empid']=input("Enter the employee id:")
    emp_det['Empname']=input("Enter the employee name:")
    emp_det['Salary']=int(input("Enter the salary:"))
    emp.append(emp_det)
    cont=input("Press y to add another record:")
emp

In [ ]:
emp[1]['Empid']=1101
emp

In [ ]:
for x in emp:
    for k,v in x.items():
        print(k,":",v)

In [ ]:
dic_comp={x:x**2 for x in range(1,11,1)}

In [ ]:
dic_comp

In [ ]:
details={'name':'Arun','Address':{'Doorno':3,"StreetName":'xyzstreet',"Area":'RSPuram'}}
details

In [ ]:
details['Address']['Doorno']

In [ ]:
student_aggregate={'Name':"Bala","Regno":101,"Marks":[56,66,77,44,66,77]}
student_aggregate

In [ ]:
sum(student_aggregate['Marks'])

In [ ]:
def total(**marks):
    total=0
    print(type(marks))
    for k,v in marks.items():
        print(k,":",v)
        total+=v
    return total

In [ ]:
total(english=45,lang=54,maths=43,science=45,social=56)

## Module - 3 OOP & Advance Python

In [ ]:
def display():
    pass

In [ ]:
def display():
    print("Hello")

In [ ]:
display()

In [ ]:
class PassedOutStudent:
    def __init__(self,student_id,student_name,cgpa):
        self.student_id=student_id
        self.student_name=student_name
        self.cgpa=cgpa
    def classify(self):
        if self.cgpa>=6.0 and self.cgpa<=8.0:
            return "First Class"
        elif self.cgpa>=8.0 and self.cgpa<=10.0:
            return "Hornors"
        else:
            return "Second Class"

In [ ]:
student=PassedOutStudent(101,'Arun',7.2)
student.classify()

In [ ]:
print("ID:",student.student_id,"\nName:",student.student_name,"\nCGPA:",student.cgpa,"\nClassification:",student.classify())

In [ ]:
class InterviewSelection(PassedOutStudent):
    def __init__(self,student_id,student_name,cgpa,interview_mark):
        super().__init__(student_id,student_name,cgpa)
        self.interview_mark=interview_mark
    def check_eligiblity(self):
        classification=super().classify()
        if classification in "First Class" or classification in "Hornors":
            if self.interview_mark>=60:
                    return "Eligible for next round"
            else:
                return "Not Eligible for next round"
        else:
            return "Not Matching the Eligiblity"

In [ ]:
interview=InterviewSelection(101,"Aravind",7.3,56)
interview.check_eligiblity()

In [ ]:
class A:
    def area(self):
        pass

In [ ]:
class Circle(A):
    def __init__(self,radius):
        self.radius=radius
    def area(self):
        return 3.14*self.radius**2

In [ ]:
area1=Circle(5)
area1.area()

In [ ]:
from module_x import *

In [ ]:
add(34,56)

In [ ]:
from calc.calculator import BasicCalculator

In [ ]:
BasicCalculator.add(45,66,77,33)

In [ ]:
from calc import calculator

In [ ]:
calculator.BasicCalculator.add(45,66,77,33)

In [ ]:
import os
os.getcwd()

In [ ]:
os.listdir()

In [ ]:
import numpy as np

In [ ]:
regno=np.array([45,66,33,43])
regno

In [ ]:
regno[3]

In [ ]:
random_numbers=np.random.randint(1,100,10)
random_numbers

In [ ]:
np.mean(random_numbers)

In [ ]:
import pandas as pd
data=pd.read_csv('titanic.csv')
data.head()

In [ ]:
data.tail()

In [ ]:
data.describe(include='all')

## Exception Handling

In [ ]:
slno=['1','2','3','4','5a','6','7']
new_slno=[]
for x in slno:
    try:
        new_slno.append(int(x))
        div=int(x)/0
    except ValueError:
        pass
    except ZeroDivisionError:
        print("Zero Division")
new_slno

In [ ]:
mark_list=[56,34,55,66,74,74,34,56]
iterator=iter(mark_list)
iterator

In [ ]:
while True:
    try:
        print(next(iterator))
    except:
        break

In [ ]:
next(iterator)

In [ ]:
def generator_ints(N):
    for x in range(1,N,1):
        yield x

In [ ]:
gen=generator_ints(5)
while True:
    try:
        print(next(gen))
    except:
        break

In [ ]:
def fibonocci(n):
    a,b=0,1
    for x in range(n):
        yield a
        a,b=b,a+b

In [ ]:
gen=fibonocci(10)
while True:
    try:
        print(next(gen))
    except:
        break

In [ ]:
next(gen)

In [14]:
def decorator(func):
    def area(*args,**kwargs):
        numeric_list=[]
        for x in args:
            try:
                numeric_list.append(int(x))
            except:
                pass
        args=numeric_list
        func(*args,**kwargs)
        return args
    return area

In [17]:
@decorator
def display(*args):
    tot=0
    for x in args:
        tot+=x
    print(tot)
display('324','23a','44')

368

[324, 44]

In [16]:
print('-'*100)
print('         |'*10)
print('-'*100)

----------------------------------------------------------------------------------------------------
         |         |         |         |         |         |         |         |         |         |
----------------------------------------------------------------------------------------------------

In [2]:
ch='y'
tot=0
while ch=='y':
    try:
        price=int(input("Enter the price amount:"))
        tot+=price
    except:
        print("Enter only numbers")
    ch=input("Press y to add another product:")
else:
    print("Thank you for purchasing")

Enter the price amount:45
Press y to add another product:y
Enter the price amount:67
Press y to add another product:n
Thank you for purchasing

In [11]:
def decorate(func):
    def show():
        print("Decorator")
        func()
    return show
@decorate
def display():
    print("Ordinary")

In [12]:
display()

Decorator
Ordinary

## File Handling Regular Experssion

In [22]:
file=open('sample.txt','r')
content=file.read()
content

'Classes are scheduled for Python,Java, PHP, Data Science\nThis is a real time training program with live projects and Case StudiesThis is a sample text File appended Successfully File appended SuccessfullyThis is new python class\nWelcome new students\nWelcome 100 new students\nWelcome 100 new students'

In [51]:
import re
pattern='[0-9]+'
num_list=re.findall(pattern,content)
int_list=[]
for x in num_list:
    try:
        int_list.append(int(x))
    except:
        pass
tot=sum(int_list)
tot

200

In [52]:
num_list

['100', '100']

In [53]:
re.search(pattern,content)

In [63]:
re.split('\n',content)

['Classes are scheduled for Python,Java, PHP, Data Science',
 'This is a real time training program with live projects and Case StudiesThis is a sample text File appended Successfully File appended SuccessfullyThis is new python class',
 'Welcome new students',
 'Welcome 100 new students',
 'Welcome 100 new students']

In [64]:
?re.sub

In [66]:
re.sub(pattern,'10',content)

'Classes are scheduled for Python,Java, PHP, Data Science\nThis is a real time training program with live projects and Case StudiesThis is a sample text File appended Successfully File appended SuccessfullyThis is new python class\nWelcome new students\nWelcome 10 new students\nWelcome 10 new students'

In [70]:
wfile=open('example.txt','a')
wfile.write("\n Started classes on Python Full Stack")

38

In [71]:
import pandas as pd
data=pd.read_csv('titanic.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [72]:
stat_desc=data.describe(include='all')
stat_desc

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,205,888
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,148,3
top,NaN,NaN,NaN,"Chaffee, Mr. Herbert Fuller",male,NaN,NaN,NaN,CA. 2343,NaN,C23 C25 C27,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,643
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [74]:
type(stat_desc)

pandas.core.frame.DataFrame

In [76]:
stat_desc.to_csv('titanic_stats.csv')

In [1]:
class Student:
    def __init__(self,stud_id,stud_name):
        self.stud_id=stud_id
        self.stud_name=stud_name

In [2]:
stud=[]
cont='y'
while cont=='y':
    stud_inst=Student(int(input("Enter the Student id:")),input("Enter the Student Name:"))
    stud.append(stud_inst)
    cont=input("Press y to continue:")
for x in stud:
    print("\nID:",x.stud_id,"\nName:",x.stud_name)

Enter the Student id:101
Enter the Student Name:Arun
Press y to continue:y
Enter the Student id:102
Enter the Student Name:Aravind
Press y to continue:n

ID: 101
Name: Arun

ID: 102
Name: Aravind

In [3]:
stud

In [14]:
bug_count=0
for x in stud:
    try:
        assert type(x.stud_id)== str,"Student ID should be string"
    except AssertionError:
        bug_count+=1
        print("Bug:",bug_count)
        pass

Bug: 1
Bug: 2

In [20]:
import unittest


class TestSum(unittest.TestCase):

    def test_sum(self):
        self.assertEqual(sum([1, 2, 3]), 6, "Should be 6")

    def test_sum_tuple(self):
        self.assertEqual(sum((2, 2, 2)), 6, "Should be 6")

In [21]:
unittest.main()

E
======================================================================
ERROR: C:\Users\User\AppData\Roaming\jupyter\runtime\kernel-dede0654-68c1-4a9c-bfd7-1f4221f795a9 (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute 'C:\Users\User\AppData\Roaming\jupyter\runtime\kernel-dede0654-68c1-4a9c-bfd7-1f4221f795a9'

----------------------------------------------------------------------
Ran 1 test in 0.004s

FAILED (errors=1)

SystemExit: True

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3351: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)